* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    gap: 20px;
    border-bottom: 2px solid rgba(245, 244, 244, 0.729);
}

.logo {
    margin-left: 20px;
    color: rgb(68, 146, 218);
    font-size: 40px;
}

.nav {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hire-me button {
    height: 45px;
    width: 80px;
    margin-right: 30px;
    border-radius: 6px;
    border: none;
    background-color: rgb(68, 146, 218);
    color: white;
}

main {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    width: 542px;
    height: 295px;
}

.hero h1 {
    font-size: 50px;
}

figure img {
    height: 400px;
    width: 600px;
}