* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* header start */

header {
    padding: 0 24px;
    background-color: #FFFFFF;
    height: 97px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(239, 239, 239, 0.497);
    position: fixed;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
    padding: 0 32px;
    height: 47px;
    width: 1200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav p:hover {
    color: #2C7BE5;
    cursor: pointer;
}

.logo {
    color: #2C7BE5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
}

.logo:hover {
    cursor: pointer;
}

.hire-me-button button {
    background-color: #2C7BE5;
    color: white;
    border: none;
    width: 107px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.hire-me-button button:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/* header done  */


/* hero-section */

.hero-section {
    padding-top: 180px;
    padding-bottom: 80px;
}

.container-1 {
    margin: 0 130px;
    padding: 0 32px;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.image img {
    width: 500px;
}

.hero h3 {
    color: rgb(100, 0, 93);
    font-size: 32px;
}

.hero h3::after {
    content: "UttkarXh.";
    color: #2C7BE5;
}

.hero h4 {
    font-size: 32px;
}

.hero p {
    font-size: 20px;
    color: #869AB8;
}

.hero {
    padding-top: 50px;
    line-height: 45px;
}

.view-work button {
    background-color: #2C7BE5;
    color: white;
    border: none;
    width: 107px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.get-in button {
    background-color: #F1F4F8;
    color: rgb(0, 0, 0);
    border: none;
    width: 107px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}

.hero-button {
    width: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


/* hero section end */


/* body starts */

.skills {
    padding-top: 80px;
    padding-bottom: 80px;
}

.skill-box {
    margin: 0 130px;
    padding: 0 32px;
    height: 200px;
}

.skill-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    line-height: 30px;
}

.skill-content h3 {
    font-size: 24px;
}

.skill-content p {
    font-size: 18px;
    color: #869AB8;
}


/* body ends */


/* footer starts */

.footer-box {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F1F4F8;
}

.footer-card {
    margin: 0 130px;
    padding: 0 32px;
    height: 200px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    line-height: 30px;
}

.footer-content h3 {
    font-size: 24px;
}

.footer-content p {
    font-size: 18px;
    color: #869AB8;
    line-height: 40px;
    letter-spacing: 0.8px;
}

.card1 h2 {
    color: #2C7BE5;
    font-size: 24px;
}


/* footer ends */
